@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

.flex-container a:hover, .flex-slider a:hover {
  outline: none; }

.slides {
  margin: 0;
  padding: 0;
  list-style: none; }
  .slides > li {
    margin: 0;
    padding: 0;
    list-style: none; }

.flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

.flexslider {
  margin: 0;
  padding: 0; }
  .flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden; }
  .flexslider .slides img {
    width: 100%;
    display: block; }
  .flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: none;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }
  .flexslider .slides {
    zoom: 1; }
    .flexslider .slides img {
      height: auto;
      -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }
  .flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .flex-direction-nav a:before {
      font-family: "flexslider-icon";
      font-size: 40px;
      display: inline-block;
      content: '\f001';
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }
    .flex-direction-nav a.flex-next:before {
      content: '\f002'; }
  .flex-direction-nav .flex-prev {
    left: -50px; }
  .flex-direction-nav .flex-next {
    right: -50px;
    text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }
  .flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }
  .flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }
  .flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004'; }
  .flex-pauseplay a:hover {
    opacity: 1; }
  .flex-pauseplay a.flex-play:before {
    content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7); }
  .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0; }
  .flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .flex-control-thumbs img:hover {
      opacity: 1; }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

body {
  font-family: Roboto;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: #fff; }

.main {
  color: #34a722 !important; }

.accent {
  color: #731982 !important; }

.accent2 {
  color: #ff9c00 !important; }

.bgc-main {
  background-color: #34a722 !important; }

.bgc-grey {
  background-color: #ededed !important; }

.bgc-white {
  background-color: #fff !important; }

.bgc-accent {
  background-color: #731982 !important; }

.bgc-accent2 {
  background-color: #ff9c00 !important; }

.overlay-white {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; }

.rotate-90 {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.active {
  background-color: rgba(255, 156, 0, 0.8) !important;
  color: #731982 !important; }

.hidden {
  display: none; }

.title {
  font-size: 3rem !important; }

.notice {
  font-size: 1.2rem !important; }

.pointer {
  cursor: pointer; }

.more-info {
  display: inline-block;
  position: relative;
  padding: 8px -webkit-calc(16px + 42px) 8px 16px;
  padding: 8px calc(16px + 42px) 8px 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .more-info:hover {
    text-decoration: none;
    background-color: #ff9c00;
    color: #000; }
  .more-info::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -webkit-calc(100% - 41px);
    left: calc(100% - 41px);
    width: 41px;
    height: 100%;
    background-color: #ff9c00;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 35% 35%;
            background-size: 35%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

.slide-form {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: -350px;
  height: 100%;
  width: 350px;
  padding: 0 12px;
  background-color: #34a722;
  z-index: 9999;
  -webkit-transition: all 0.2sec ease-in-out;
  -o-transition: all 0.2sec ease-in-out;
  transition: all 0.2sec ease-in-out; }
  .slide-form .trigger {
    display: block;
    position: absolute;
    top: -webkit-calc(50% - 25px);
    top: calc(50% - 25px);
    left: -125px;
    width: 200px;
    height: 50px;
    padding-top: 5px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    background-color: #ff9c00;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    cursor: pointer; }
  .slide-form form {
    width: 100%; }
    .slide-form form input {
      display: block;
      width: 100%;
      color: gray !important;
      margin: 8px 0;
      border: none !important;
      background-color: white;
      padding: 12px;
      border: 1px solid white; }
      .slide-form form input::-webkit-input-placeholder {
        color: gray; }
      .slide-form form input::-moz-placeholder {
        color: gray; }
      .slide-form form input:-ms-input-placeholder {
        color: gray; }
      .slide-form form input::-ms-input-placeholder {
        color: gray; }
      .slide-form form input::placeholder {
        color: gray; }
    .slide-form form .more-info {
      min-width: 200px;
      border: none;
      margin: 4px 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

p {
  margin: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.bg-main {
  background-color: #34a722; }

.bg-accent {
  background-color: #731982; }

.bg-white {
  background-color: #fff; }

.bg-accent2 {
  background-color: #ff9c00; }

.text-accent {
  color: #731982; }
  .text-accent:hover {
    color: #731982; }

.text-accent2 {
  color: #ff9c00; }
  .text-accent2:hover {
    color: #ff9c00; }

.text-main {
  color: #34a722 !important; }
  .text-main:hover {
    color: #34a722 !important; }

.text-grey {
  color: #ededed !important; }
  .text-grey:hover {
    color: #ededed !important; }

.btn-cust {
  border: none;
  outline: none;
  background-color: #731982;
  color: #fff;
  cursor: pointer; }

.divider {
  width: 75%;
  height: 0;
  border: 1px solid #34a722;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 5px auto; }

.bold-100 {
  font-weight: 100; }

.bold-300 {
  font-weight: 300; }

.bold-500 {
  font-weight: 500; }

.bold-700 {
  font-weight: 700; }

.bold-900 {
  font-weight: 900; }

.text-shadow {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }

.more-info {
  color: #fff;
  background-color: #000; }
  .more-info:hover {
    background-color: #ff9c00;
    color: #fff; }
  .more-info::after {
    background-color: #ff9c00;
    background-image: url(../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 35% 35%;
            background-size: 35%; }

.h7 {
  font-size: 0.875em; }

#modal-1, #modal-2, #modal-3, #modal-4, #modal-5, #modal-6 {
  display: none; }
  #modal-1 .overlay, #modal-2 .overlay, #modal-3 .overlay, #modal-4 .overlay, #modal-5 .overlay, #modal-6 .overlay {
    cursor: pointer; }

#close {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 999;
  cursor: pointer; }

.modal-1, .modal-2, .modal-3, .modal-4, .modal-5, .modal-6 {
  position: fixed;
  overflow-y: auto;
  background-color: white;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  z-index: 2; }
  .modal-1 .bordered, .modal-2 .bordered, .modal-3 .bordered, .modal-4 .bordered, .modal-5 .bordered, .modal-6 .bordered {
    border: 1px solid #ededed;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .modal-1 ul li, .modal-2 ul li, .modal-3 ul li, .modal-4 ul li, .modal-5 ul li, .modal-6 ul li {
    position: relative;
    padding-left: 16px; }
    .modal-1 ul li:before, .modal-2 ul li:before, .modal-3 ul li:before, .modal-4 ul li:before, .modal-5 ul li:before, .modal-6 ul li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 8px;
      height: 8px;
      background-color: transparent;
      border: 1px solid #34a722;
      -webkit-border-radius: 50%;
              border-radius: 50%; }

header .nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 24px 0; }
  header .nav-bar .logo {
    color: #34a722;
    margin-right: 24px; }
  header .nav-bar-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 45%;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    position: relative;
    color: #ff9c00; }
    header .nav-bar-text-p {
      font-size: 0.875em;
      color: black; }
  header .nav-bar .contacts {
    margin-left: auto;
    line-height: 1.15;
    position: relative;
    color: #34a722;
    text-align: left; }
    header .nav-bar .contacts .number, header .nav-bar .contacts p {
      position: relative;
      color: black;
      padding-left: 35px;
      margin: 0;
      margin-bottom: 8px; }
    header .nav-bar .contacts svg {
      position: absolute;
      left: 5px;
      top: 20%;
      color: #ff9c00; }
    header .nav-bar .contacts .more-info {
      margin-left: 35px;
      background-color: #34a722;
      border: 1px solid #ededed;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      header .nav-bar .contacts .more-info:hover {
        background-color: #ff9c00;
        -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75); }
      header .nav-bar .contacts .more-info::after {
        background-color: black;
        -webkit-border-radius: 3px;
                border-radius: 3px; }

header .menu-container {
  width: 100%;
  background-color: #34a722;
  margin: 0;
  padding: 0; }
  header .menu-container .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    header .menu-container .menu .menu-item {
      display: block;
      position: relative;
      color: #fff;
      font-size: 16px;
      line-height: 3;
      white-space: nowrap;
      text-transform: uppercase;
      padding: 0 16px;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
          -ms-flex: 1 1 100%;
              flex: 1 1 100%;
      text-align: center;
      text-decoration: none;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      header .menu-container .menu .menu-item:hover, header .menu-container .menu .menu-item:focus, header .menu-container .menu .menu-item:active {
        background-color: rgba(255, 156, 0, 0.8);
        color: #731982;
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05); }

.flexslider {
  position: relative;
  height: 500px;
  max-height: 500px;
  overflow: hidden;
  margin: 0; }
  .flexslider .custom-navigation a {
    color: #34a722 !important;
    background-color: rgba(255, 255, 255, 0.55); }
  .flexslider .flex-viewport {
    height: 100%; }
    .flexslider .flex-viewport ul {
      height: 100%; }
      .flexslider .flex-viewport ul li {
        position: relative;
        height: 100%; }
        .flexslider .flex-viewport ul li img {
          position: absolute;
          min-width: 100% !important; }
        .flexslider .flex-viewport ul li .slide-content {
          position: absolute;
          top: 50px;
          bottom: 50px;
          left: 10%;
          width: 65%;
          padding: 32px;
          background-color: rgba(255, 255, 255, 0.55); }
          .flexslider .flex-viewport ul li .slide-content h1 {
            color: #ff9c00;
            line-height: 1.5 !important;
            font-size: 2.75rem;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }
          .flexslider .flex-viewport ul li .slide-content h3 {
            color: #000;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }
            .flexslider .flex-viewport ul li .slide-content h3 span:first-child {
              line-height: 1.5 !important;
              font-size: 2.25rem; }
            .flexslider .flex-viewport ul li .slide-content h3 span:last-child {
              font-size: 1.5rem; }
          .flexslider .flex-viewport ul li .slide-content a {
            position: absolute;
            bottom: 32px; }
  .flexslider .custom-navigation {
    position: absolute;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .flexslider .custom-navigation a {
      color: #777; }

#edge {
  padding: 24px 0; }
  #edge .title {
    font-size: 4rem !important; }
  #edge .edge {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0; }
    #edge .edge .elem {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 33%;
          -ms-flex: 1 1 33%;
              flex: 1 1 33%;
      height: 400px;
      margin: 1rem;
      border: 2px solid #ededed;
      -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #edge .edge .elem p {
        display: none; }
      #edge .edge .elem:first-child {
        background-image: url(../img/money.jpeg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
        background-position: center; }
      #edge .edge .elem:nth-child(2) {
        background-image: url(../img/zamer.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
        background-position: center; }
      #edge .edge .elem:last-child {
        background-image: url(../img/postpay.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
        background-position: center; }
      #edge .edge .elem:hover {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); }
        #edge .edge .elem:hover p {
          display: block; }
      #edge .edge .elem .content {
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        #edge .edge .elem .content h3 {
          margin-top: 16px;
          font-size: 2.5rem;
          color: #fff; }
        #edge .edge .elem .content p {
          color: #fff; }

main .about-nts {
  text-align: center;
  padding: 50px 0 100px; }
  main .about-nts h1 {
    font-size: 6.25rem;
    font-weight: 700;
    color: #731982; }
  main .about-nts p {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 2.5rem; }
  main .about-nts .row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  main .about-nts .card-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin: 0.5%;
    cursor: pointer;
    outline: 2px solid #fff;
    outline-offset: -10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 20px 20px 40px;
    background-color: #34a722;
    color: #fff; }
    main .about-nts .card-item:first-child .num {
      font-size: 5rem; }
    main .about-nts .card-item:nth-child(3) .num {
      font-size: 4rem; }
    main .about-nts .card-item:nth-child(4) .num {
      font-size: 4rem; }
    main .about-nts .card-item .custom-card-body {
      padding-top: 20px;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.3;
      font-style: italic; }
    main .about-nts .card-item .num {
      text-align: center;
      font-size: 6rem;
      font-weight: 900;
      line-height: 1;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
    main .about-nts .card-item:hover {
      color: #ff9c00;
      outline: 2px solid #731982;
      background-color: #ededed; }
      main .about-nts .card-item:hover .num {
        -webkit-transform: rotateY(1turn);
                transform: rotateY(1turn); }

main .production {
  padding: 50px 0;
  background-color: #ededed; }
  main .production h1 {
    font-size: 3.375rem;
    font-weight: 700;
    color: #731982;
    margin-bottom: 25px; }
    main .production h1 span {
      color: #000; }
  main .production .elements {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    main .production .elements .item {
      position: relative;
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 32%;
          -ms-flex: 0 1 32%;
              flex: 0 1 32%;
      height: 450px;
      margin-bottom: 35px;
      overflow: hidden;
      -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.75); }
      main .production .elements .item:nth-child(4) {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 66%;
            -ms-flex: 0 1 66%;
                flex: 0 1 66%; }
      main .production .elements .item-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 !important;
        -webkit-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s; }
        main .production .elements .item-content:hover {
          -webkit-transform: scale(1.05);
              -ms-transform: scale(1.05);
                  transform: scale(1.05); }
        main .production .elements .item-content .img-container {
          position: relative;
          height: 100%; }
          main .production .elements .item-content .img-container img {
            height: 100% !important; }
      main .production .elements .item .item-info {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        padding: 15px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.75); }

main .about {
  position: relative;
  z-index: 0;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed; }
  main .about .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 50px 0;
    z-index: 2; }
    main .about .content .years {
      font-weight: 700;
      line-height: 1; }
      main .about .content .years .num {
        line-height: 1;
        position: relative;
        font-weight: 700;
        font-size: 13.75rem;
        margin-right: 90px;
        margin-bottom: -20px; }
        main .about .content .years .num span {
          display: inline-block;
          font-size: 3.25rem; }
          main .about .content .years .num span:first-child {
            position: absolute;
            width: 0;
            top: 145px;
            right: -50px;
            font-size: 5.625rem; }
      main .about .content .years span {
        display: block;
        text-align: center;
        font-size: 3.625rem; }
        main .about .content .years span:last-child {
          font-size: 1.625rem; }
    main .about .content .info {
      padding-left: 50px; }
      main .about .content .info .more-info:hover:after {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      main .about .content .info h1 {
        font-size: 3.375rem;
        line-height: 1;
        letter-spacing: 3px;
        font-weight: 700; }
      main .about .content .info p {
        font-size: 1.35rem; }

main .cost {
  background-color: #fff;
  width: 100%;
  position: relative; }
  main .cost .container {
    padding: 50px 0;
    background-image: url(../img/okno.jpg);
    background-position: right center;
    background-repeat: no-repeat; }
    main .cost .container h1 {
      font-size: 3.75rem;
      color: #34a722;
      font-weight: 700; }
      main .cost .container h1 span {
        color: #000;
        font-weight: 100; }
    main .cost .container .sry {
      width: 60%; }
      main .cost .container .sry p.main {
        font-size: 0.75rem; }

main .news {
  background-color: #ededed;
  padding: 50px 0; }
  main .news .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    main .news .container h1 {
      font-size: 3.375rem;
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%;
      letter-spacing: 1.5px;
      font-weight: 100; }
      main .news .container h1 span {
        font-weight: 700; }
    main .news .container .news-item {
      position: relative;
      -webkit-flex-basis: 32%;
          -ms-flex-preferred-size: 32%;
              flex-basis: 32%;
      margin: 10px 0 80px;
      -webkit-box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
              box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75); }
      main .news .container .news-item-img {
        overflow: hidden; }
        main .news .container .news-item-img img {
          width: 100%;
          -webkit-transition: all 0.2s ease 0s;
          -o-transition: all 0.2s ease 0s;
          transition: all 0.2s ease 0s; }
        main .news .container .news-item-img:hover img {
          -webkit-transform: scale(1.15);
              -ms-transform: scale(1.15);
                  transform: scale(1.15); }
      main .news .container .news-item .more-info {
        display: block;
        position: absolute;
        bottom: -42px;
        left: -1px;
        padding: 8px 16px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.85); }
        main .news .container .news-item .more-info:hover {
          text-decoration: none;
          background-color: #ff9c00; }
        main .news .container .news-item .more-info::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 100%;
          width: 42px;
          height: 41px; }
      main .news .container .news-item-content {
        width: 100%;
        padding: 24px;
        background-color: #fff; }

#callback {
  background-color: #fff; }
  #callback .container {
    background-image: url(../img/man.png);
    -webkit-background-size: auto 80%;
            background-size: auto 80%;
    background-position: right center;
    background-repeat: no-repeat; }
    #callback .container h6 {
      font-size: 3.75rem; }
    #callback .container form button {
      outline: none;
      border: none; }

#popup__toggle {
  bottom: 25px;
  right: 0;
  position: fixed;
  z-index: 999;
  outline: none; }

.img-circleblock svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff; }

.img-circle {
  background-color: #731982;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.circlephone {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 2px solid #731982;
  width: 150px;
  height: 150px;
  bottom: -25px;
  right: 0;
  position: absolute;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
          animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.circle-fill {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #731982;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 24px;
  position: absolute;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
          animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.img-circle {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 72px;
  height: 72px;
  bottom: 14px;
  right: 38px;
  position: absolute;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7; }

.img-circleblock {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 72px;
  height: 72px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation-name: tossing;
          animation-name: tossing;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }
  .img-circleblock i.fa {
    position: absolute;
    top: 50%;
    margin-top: -24px;
    left: 16px;
    font-size: 3.125em;
    color: #fff; }

.img-circle:hover {
  opacity: 1; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1; } }

@keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); }
  50% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg); } }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg); }
  50% {
    -webkit-transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg); } }

@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1; }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5; }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1; } }

@keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
            transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1; } }

@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

@keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
            transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
            transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
  .flexslider .flex-viewport ul li img {
    position: absolute;
    height: 100%; } }

/* Large Devices*/
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .flexslider {
    display: none; }
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
