@import bourbon
@import _vars.sass

// -------------------------------------ВЫПОЛНЕННЫЕ РАБОТЫ - ВТОРАЯ СЕКЦИЯ-------------------------------------
main .production
	background-color: #fff 
#production
	h2
		font-size: em(60px)
		span:last-child
			font-size: em(17px)
	p:last-child
		font-size: em(14px)

.production
	.alum
		.elements
			.item
				height: 350px!important
				transition: all 0.2s ease 0s
				cursor: pointer
				box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75)
				&:hover
					transform: scale(1.05)
				&-content
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					padding: 15px
					color: $white
					transition: unset
					&:hover
						transform: unset
				.item-info
					position: absolute
					display: flex
					align-items: center
					text-align: center
					left: 0
					top: 0
					width: 100%
					height: 100%
					padding: 15px
					color: $white
					background-color: rgba(0, 0, 0, 0.6)
					h3
						font-size: 2rem
						flex-basis: 100%
// -------------------------------------ВЫПОЛНЕННЫЕ РАБОТЫ - ВТОРАЯ ВТОРАЯ СЕКЦИЯ-------------------------------------

// -------------------------------------ПРИМЕРЫ РАБОТ - ШЕСТАЯ СЕКЦИЯ-------------------------------------
#advantage
	// background-color: #efefef
	h2
		font-size: em(60px)
		span:last-child
			font-size: em(17px)
	p:last-child
		font-size: em(14px)
// -------------------------------------ПРИМЕРЫ РАБОТ - ШЕСТАЯ СЕКЦИЯ-------------------------------------





// -------------------------------------ОКНА - ПЕРВАЯ СЕКЦИЯ-------------------------------------
#windows
	background-color: #efefef
	.window-item
		border: 3px solid $white
		&:hover
			border: 3px solid $accent2
		.scale
			div
				width: 8.3%
				height: 3px
// -------------------------------------ОКНА - ПЕРВАЯ СЕКЦИЯ-------------------------------------


// -------------------------------------ПРИМЕРЫ РАБОТ - ЧЕТВЁРТАЯ СЕКЦИЯ-------------------------------------
#cost
	.container
		background-image: url(../img/okno.jpg)
		background-position: right center
		background-repeat: no-repeat
	h2
		font-size: em(60px)
		span:last-child
			font-size: em(17px)
	p:last-child
		font-size: em(14px)
// -------------------------------------ПРИМЕРЫ РАБОТ - ЧЕТВЁРТАЯ ВТОРАЯ СЕКЦИЯ-------------------------------------
