@import bourbon
@import _vars.sass

// ---------------------------------- ЛЕВЫЙ БАР ----------------------------------
.left-bar
	.left-bar-item
		position: relative
		&:first-child
			margin-bottom: 4.5rem
		a
			position: relative
		.more-info
			position: absolute
			bottom: -41px
		.item-row
			&:hover
				color: $accent2!important
			.img
				width: 30%
				background-position: center top
				background-size: cover
				&:before
					content: ''
					padding-top: 120%
					display: block
			span
				font-size: em(12px)
			p
				font-size: em(14px)
				overflow: hidden
// ---------------------------------- ЛЕВЫЙ БАР ----------------------------------



// ---------------------------------- ТЕКСТ НОВОСТИ ----------------------------------
#info-body
	font-size: em(14px)
	ul
		li
			position: relative
			svg
				position: absolute
				left: 0
				top: 5px
// ---------------------------------- ТЕКСТ НОВОСТИ ----------------------------------